body{
	font-family: "microsoft yahei";
	
}
/*进度条*/
.progress{
	margin-bottom: 15px;
}
/*头像*/
.wh64{
	width:64px;
	height: 64px;
	border-radius: 50%;
}
/*边距*/
.mar_t15{
	margin-top: 15px;
}
.pad0{
	padding: 0;
}
/*用户管理 page-header*/
.page-header{
	margin-top: 0;	
}
.page-header h1{
	margin: 0;
	font-size: 16px;
}
.user_search{
	padding: 10px;
	border: solid 1px #ddd;
	border-top:none;
}
